.blog-child-page {
  &__breadcrumbs {
    margin: 16px 0;
  }

  &__title {
    margin-top: 44px;
    margin-bottom: 24px;
  }

  &__date {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 8px;
    color: $ui-black-80;

    span {
      margin: 0 4px;
    }
  }

  @include ui-desktop-only {
    &__title {
      @include ui-typo-32;

      margin-top: 60px;
    }
  }
}
