.blog-child-page {
  &__section {
    margin-top: 32px;
  }

  &__breadcrumbs {
    margin: 16px 0;
  }

  &__title {
    margin-bottom: 24px;
  }

  &__footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 8px;
    color: $ui-black-80;
    column-gap: 4px;
  }

  @media (min-width: $ui-laptop) {
    &__section {
      margin-top: 64px;
    }
  }
}
