@mixin ui-text_size_14 {
  @include ui-typo-14;

  .ui-text__prepend {
    margin-right: 8px;
  }

  .ui-text__append {
    margin-left: 8px;
  }

  .ui-icon_size_inherit {
    width: 16px;
    height: 16px;
  }
}
