.contacts-page {
  margin-top: 24px;

  &__info {
    margin-top: 32px;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  @media (min-width: $ui-laptop) {
    &__info {
      margin-top: 60px;
    }
  }
}

.contacts-page-info {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: space-between;
  color: $ui-white;
  background: linear-gradient(50.67deg, #344554 7.6%, #111 73.82%);
  border: none;

  &__column {
    .ui-text + .ui-text {
      margin-top: 8px;
    }

    .ui-text {
      @include ui-hover {
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  @media (min-width: $ui-laptop) {
    flex-direction: row;

    &__info {
      margin-top: 60px;
    }
  }
}
