.home-page-intro {
  --intro-info-block-width: 348px;

  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__info {
    max-width: var(--intro-info-block-width);
    text-align: center;
  }

  &__video {
    @include ui-shadow-16;

    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
  }

  &__image {
    position: relative;
    max-width: 512px;
    margin-top: 24px;

    img {
      width: 100%;
    }
  }

  &__title {
    margin-bottom: 24px;

    span {
      display: block;
      color: $ui-blue-brand;
    }
  }

  &__text {
    margin-bottom: 24px;
    color: $ui-black-80;
  }

  &__actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -4px -8px;

    .ui-button {
      margin: 0 4px 8px;
    }
  }

  @media (min-width: $ui-laptop) {
    align-items: flex-start;
    height: 440px;

    &__info {
      text-align: left;
    }

    &__actions {
      justify-content: flex-start;
    }

    &__image {
      position: absolute;
      top: 0;
      left: calc(var(--intro-info-block-width) + 70px
          /* margin-left */
        );
      width: 641px;
      max-width: 100%;
      height: inherit;
      margin-top: 0;
    }
  }

  @media (max-width: ($ui-tablet - 1px)) {
    &__title {
      @include ui-typo-24;
    }
  }
}

.popup-youtube-intro {
  @media (min-width: $ui-tablet) {
    width: 84%;
    max-width: 1400px;
  }
}
