@mixin ui-button_size_44 {
  @include ui-typo-14;

  min-width: 44px;
  height: 44px;
  padding: 0 16px - 1px/* border */;
  border-radius: 10px;

  .ui-button__content + .ui-button__prepend {
    margin-right: 8px;
    margin-left: -4px - 1px/* border */;
  }

  .ui-button__content + .ui-button__append,
  .ui-button__prepend + .ui-button__append {
    margin-right: -4px - 1px/* border */;
    margin-left: 8px;
  }

  .ui-button__icon {
    width: 20px;
    height: 20px;
  }
}
