@mixin ui-button_theme_green {
  color: $ui-white;
  background-color: $ui-green-brand;
  border: 1px solid $ui-green-brand;

  @media (hover: hover) {
    &:hover {
      @include ui-shadow-4($ui-green-hover-15);

      background-color: $ui-green-hover-15;
      border-color: $ui-green-hover-15;
    }
  }

  &:active {
    background-color: $ui-green-hover-25;
    border-color: $ui-green-hover-25;
    box-shadow: none;
  }

  &.ui-button_disabled {
    background-color: $ui-black-40;
    border-color: $ui-black-40;
  }
}
