@import './grid-mixins';
@import './typo-mixins';
@import './shadow-mixins';

@mixin optional-at-root($sel) {
  @at-root #{if(not &, $sel, selector-append(&, $sel))} {
    @content;
  }
}

@mixin placeholder {
  @include optional-at-root('::-webkit-input-placeholder') {
    @content;
  }

  @include optional-at-root(':-moz-placeholder') {
    @content;
  }

  @include optional-at-root('::-moz-placeholder') {
    @content;
  }

  @include optional-at-root(':-ms-input-placeholder') {
    @content;
  }
}

@mixin ui-scrollbar {
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-track {
    background-color: $ui-black-20;
    background-clip: content-box;
    border: 2px solid transparent;
    border-radius: 100px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $ui-blue-brand;
    background-clip: content-box;
    border: 2px solid transparent;
    border-radius: 100px;
  }
}

@mixin ui-truncate($lines: '') {
  @if $lines !='' {
    display: block;
    display: -webkit-box;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    /* autoprefixer: ignore next */
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $lines;
  }

  @if $lines=='' {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

@mixin ui-safe-bottom($bottom: 0) {
  position: fixed;
  bottom: $bottom;

  @if $bottom==0 {
    bottom: var(--safe-area-inset-bottom);
  }

  @if $bottom !=0 {
    bottom: calc(#{$bottom} + var(--safe-area-inset-bottom));
  }
}

@mixin hide-scrollbar () {
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;

  &::-webkit-scrollbar {
    display: none;
  }
}

@mixin ui-text-border ($color, $width: 1px) {
  text-shadow:
    -$width -$width 0 $color,
    0 -$width 0 $color,
    $width -$width 0 $color,
    $width 0 0 $color,
    $width $width 0 $color,
    0 $width 0 $color,
    -$width $width 0 $color,
    -$width 0 0 $color;
}

@mixin ui-extend-click-area($margin) {
  position: relative;

  &::before {
    position: absolute;
    top: -$margin;
    right: -$margin;
    bottom: -$margin;
    left: -$margin;
    content: '';
  }
}

@mixin ui-mobile-only {
  @media (max-width: ($ui-tablet - 1px)) {
    @content;
  }
}

@mixin ui-desktop-only {
  @media (min-width: $ui-tablet) {
    @content;
  }
}

@mixin ui-hover {
  @include ui-desktop-only {
    @media (hover: hover) {
      @content;
    }
  }
}