@import '~/scss/fonts';
@import '~/scss/reset';
@import '~/scss/grid';
@import '~/scss/css-variables';

html {
  color: $ui-black-100;
  font-weight: 400;
  font-family: Inter, sans-serif;
}

body {
  --safe-area-inset-bottom: env(safe-area-inset-bottom, 0);

  overflow-x: hidden;
  background-color: $ui-white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}

.nobr {
  white-space: nowrap;
}

// Vitepress

@import '~/styles/vars';

:root {
  --c-black: #1d1d21;
  --c-brand: #3c8aff;
  --c-brand-light: #3a99ff;
  --header-height: 56px;
}

.page {
  padding-top: 0 !important;
}

.theme.sidebar-open .sidebar-mask {
  display: block;
}

.has-sidebar {
  min-width: 320px;
  min-height: 100vh;
  line-height: 1.4;
  font-family: var(--font-family-base);
  font-size: 16px;
  font-weight: 400;
  color: var(--c-text);
  background-color: var(--c-bg);
  direction: ltr;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @import '~/styles/layout';
  @import '~/styles/code';
  @import '~/styles/custom-blocks';
  @import '~/styles/sidebar-links';
}
