@mixin ui-button_size_32 {
  @include ui-typo-12;

  min-width: 32px;
  height: 32px;
  padding: 0 12px - 1px/* border */;
  font-weight: 500;
  border-radius: 8px;

  .ui-button__content + .ui-button__prepend {
    margin-right: 4px;
    margin-left: -4px - 1px/* border */;
  }

  .ui-button__content + .ui-button__append,
  .ui-button__prepend + .ui-button__append {
    margin-right: -4px - 1px/* border */;
    margin-left: 4px;
  }

  .ui-button__icon {
    width: 16px;
    height: 16px;
  }
}
