@use 'sass:math';

@mixin ui-container {
  --ui-container-padding: #{$ui-mobile-padding};

  width: calc(100% - var(--ui-container-padding) * 2);
  margin-right: auto;
  margin-left: auto;

  @media (min-width: $ui-mobile-portrait) {
    --ui-container-padding: #{$ui-mobile-portrait-padding};
  }

  @media (min-width: $ui-tablet) {
    --ui-container-padding: #{$ui-tablet-padding};
  }

  @media (min-width: $ui-laptop) {
    --ui-container-padding: #{$ui-laptop-padding};
  }

  @media (min-width: $ui-desktop) {
    --ui-container-padding: #{$ui-desktop-padding};

    max-width: calc(#{$ui-desktop} - var(--ui-container-padding) * 2);
  }
}

@mixin ui-container-narrow {
  --ui-container-padding: 16px;

  width: calc(100% - 16px * 2);
  margin-right: auto;
  margin-left: auto;

  @media (min-width: $ui-mobile-portrait) {
    --ui-container-padding: 20px;

    width: calc(100% - 20px * 2);
  }

  @media (min-width: $ui-tablet) {
    --ui-container-padding: 44px;

    width: calc(100% - 44px * 2);
  }

  @media (min-width: $ui-laptop) {
    width: 616px;
  }

  @media (min-width: $ui-desktop) {
    width: 648px;
  }
}

@mixin ui-grid {
  display: flex;
  flex: 1 0 auto;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-right: calc(var(--ui-grid-gap) / -2);
  margin-bottom: calc(var(--ui-grid-gap) * -1);
  margin-left: calc(var(--ui-grid-gap) / -2);
}

@mixin ui-grid-gap($gap) {
  --ui-grid-gap: #{$gap};
}

@mixin ui-grid-item {
  flex: 1;
  margin-right: calc(var(--ui-grid-gap) / 2);
  margin-bottom: var(--ui-grid-gap);
  margin-left: calc(var(--ui-grid-gap) / 2);
}

@mixin ui-grid-item-span($i) {
  flex-basis: calc(#{math.div($i, 12) * 100%} - var(--ui-grid-gap));
  // IE 11 ignores an calc() function used in flex shorthand declarations
  flex-grow: 0;
  flex-shrink: 0;
  max-width: calc(#{math.div($i, 12) * 100%} - var(--ui-grid-gap));
}
