@mixin ui-typo-44 {
  font-size: 44px;
  line-height: 72px;
}

@mixin ui-typo-36 {
  font-size: 36px;
  line-height: 56px;
}

@mixin ui-typo-32 {
  font-size: 32px;
  line-height: 44px;
}

@mixin ui-typo-28 {
  font-size: 28px;
  line-height: 36px;
}

@mixin ui-typo-24 {
  font-size: 24px;
  line-height: 32px;
}

@mixin ui-typo-22 {
  font-size: 22px;
  line-height: 32px;
}

@mixin ui-typo-20 {
  font-size: 20px;
  line-height: 28px;
}

@mixin ui-typo-18 {
  font-size: 18px;
  line-height: 24px;
}

@mixin ui-typo-16 {
  font-size: 16px;
  line-height: 24px;
}

@mixin ui-typo-14 {
  font-size: 14px;
  line-height: 20px;
}

@mixin ui-typo-12 {
  font-size: 12px;
  line-height: 16px;
}

@mixin ui-typo-10 {
  font-size: 10px;
  line-height: 14px;
}

@mixin ui-typo-8 {
  font-size: 8px;
  line-height: 14px;
}
