@import '~/scss/fonts';
@import '~/scss/reset';
@import '~/scss/grid';
@import '~/scss/css-variables';

html {
  color: $ui-black-100;
  font-weight: 400;
  font-family: Inter, sans-serif;
}

body {
  --safe-area-inset-bottom: env(safe-area-inset-bottom, 0);

  overflow-x: hidden;
  background-color: $ui-white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}

.nobr {
  white-space: nowrap;
}
