@keyframes mobile-menu-fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes mobile-menu-translate {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

.header-mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  display: flex;
  justify-content: flex-end;

  &__backdrop {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba($ui-black-100, 0.5);
    opacity: 0;
    animation-name: mobile-menu-fade;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
  }

  &__inner {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    width: 256px;
    padding: 16px;
    background-color: $ui-white;
    transform: translateX(100%);
    animation-name: mobile-menu-translate;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
  }

  &__close {
    align-self: end;
    margin-bottom: 16px;
  }

  &__actions {
    margin-top: 44px;
  }
}
