.ui-input {
  @include ui-typo-14;

  position: relative;
  display: flex;

  &:focus-within {
    .ui-input__icon._left {
      color: $ui-blue-brand;
    }
  }

  &__append {
    position: absolute;
    top: 12px;
    right: 12px;
    order: 1;

    ~ .ui-input__content {
      input,
      textarea {
        padding-right: 40px;
      }
    }
  }

  &__prepend {
    position: absolute;
    top: 12px;
    left: 12px;
    order: 3;

    ~ .ui-input__content {
      input,
      textarea {
        padding-left: 40px;
      }
    }
  }

  &__icon {
    color: $ui-black-60;
    transition: color var(--ui-transition-hover);
  }

  &__clear {
    color: $ui-black-60;
    cursor: pointer;
    transition: color var(--ui-transition-hover);
    user-select: none;

    @include ui-hover {
      &:hover {
        color: $ui-black-100;
      }
    }

    &:active {
      color: $ui-black-100;
    }

    &::after {
      position: absolute;
      top: -8px;
      right: -16px;
      bottom: -8px;
      left: -4px;
      content: '';
    }
  }

  &__content {
    order: 2;
    width: 100%;

    input {
      height: 44px;
    }

    textarea {
      min-width: 100%;
      max-width: 100%;
      min-height: 80px;
      padding-top: 12px;
      padding-bottom: 12px;
    }
  }

  &__input {
    width: 100%;
    padding: 0 16px;
    color: $ui-black-100;
    font-size: inherit;
    line-height: inherit;
    background: $ui-white;
    border: 1px solid $ui-black-40;
    border-radius: 8px;
    box-shadow: 0 0 0 1px rgba($ui-white, 0);
    transition:
      border var(--ui-transition-hover),
      box-shadow var(--ui-transition-hover),
      background-color var(--ui-transition-hover);
    appearance: none;
    -webkit-text-fill-color: $ui-black-100;

    @include ui-hover {
      &:not(:disabled):hover {
        border-color: $ui-blue-brand;
      }
    }

    &:focus {
      border-color: $ui-blue-brand;
      box-shadow: 0 0 0 1px $ui-blue-brand;
    }

    &:disabled {
      background: $ui-black-10;
    }

    @include placeholder {
      color: $ui-black-60;
      -webkit-text-fill-color: $ui-black-60;
    }
  }
}
