.faq-page-preview {
  &__subtitle {
    margin-top: 4px;
  }

  &__footer {
    display: flex;
    align-items: center;
    margin-top: 8px;
  }

  &__footer-image {
    width: 32px;
    height: 32px;
    margin-right: 8px;

    img {
      width: 100%;
    }
  }

  &__author {
    strong {
      color: $ui-black-60;
    }
  }

  &__date {
    margin-top: 2px;
    color: $ui-black-60;
  }
}
