.home-page-opportunity {
  background-color: $ui-black-10;
  border: none;

  &__icon {
    display: inline-block;
    padding: 8px;
    color: #fff;
    border-radius: 12px;
  }

  &__title {
    margin-top: 16px;
    font-weight: 600;
  }

  &__description {
    margin-top: 8px;
    color: $ui-black-60;
  }
}
