@import '../../../../scss/mixins';
@import '../../../../scss/typo-mixins';
@import '../../../../scss/variables';

.home-page-opportunities {
  &__title {
    margin-bottom: 24px;
    text-align: center;
  }

  &__inner {
    display: grid;
    grid-row-gap: 16px;
    grid-column-gap: 24px;
    grid-template-columns: repeat(1, 1fr);
  }

  @media (min-width: $ui-tablet) {
    &__inner {
      grid-row-gap: 24px;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (min-width: $ui-laptop) {
    &__title {
      text-align: left;
    }

    &__inner {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media (max-width: ($ui-tablet - 1px)) {
    &__title {
      @include ui-typo-24;
    }
  }
}
