.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.translateRight-enter-active,
.translateRight-leave-active {
  transition: transform 0.3s ease;
}

.translateRight-enter-from,
.translateRight-leave-to {
  transform: translateX(100%);
}
